#attendance-header {
  color: #F02D3A;
  font-family: Bebas Neue;
  font-size: 75px;
}

.side-block {
  background-image: linear-gradient(to right, #9CAFB7, #9CAFB7, white);
  width: 355px;
  height: 100vh;
  position: absolute;
}


.right-side-block {
  right: 0;
  top: 0;
  transform: scaleX(-1);
}

body {
  margin: 0;
}

* {
  overflow: hidden;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#attendance-manager-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#attendance-manager-container * {
  font-family: Roboto;
  font-size: 30px;
  color: #157145;
  background-color: #ACE894;
  width: 832px;
  padding: 15px;
  margin-bottom: 20px;
}

span.attendance-marker {
  height: 50px;
  width: 50px !important;
  background-color: white !important;
  display: inline-block;
}

.employee-card {
  display: flex;
  flex-direction: row;
  padding: 25px !important;
}

.attendance-marker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.employee-card-reset {
  padding: 0 !important;
  margin: 0 !important;
  background-color: initial !important;
}
div.attendance-detail:first-child {
  margin-bottom: 20px !important;
}

.attendance-detail-container {
  display: inline-block;
  padding-right: 20px !important;
}

.attendance-detail {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
}