#attendance-header {
  color: #F02D3A;
  font-family: Bebas Neue;
  font-size: 75px;
}

.side-block {
  background-image: linear-gradient(to right, #9CAFB7, #9CAFB7, white);
  width: 355px;
  height: 100vh;
  position: absolute;
}


.right-side-block {
  right: 0;
  top: 0;
  transform: scaleX(-1);
}

body {
  margin: 0;
}

* {
  overflow: hidden;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#attendance-manager-container {
  display: flex;
  flex-direction: column;
  align-items: center;
/*  overflow: scroll;*/
}

#attendance-manager-container * {
  font-family: Roboto;
  font-size: 30px;
  color: #157145;
  background-color: #ACE894;
  width: 832px;
  padding: 15px;
  margin-bottom: 20px;
}

.attendance-marker {
  height: 50px;
  width: 50px;
  background-color: white;
}